.container {
  min-height: 100vh;
  padding: 40px 20px;
  background: linear-gradient(
    135deg,
    #dbeafe,
    #fef3c7,
    #fce7f3
  );
}

.heading {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #1e3a8a;
  margin-bottom: 30px;
}

.formBox {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,.1);
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 2px solid #dbeafe;
  font-size: 15px;
}

.textarea {
  min-height: 120px;
}

.button {
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-right: 10px;
  transition: .2s;
}

.button:hover {
  transform: scale(1.05);
}

.saveBtn {
  background: #2563eb;
}

.updateBtn {
  background: #10b981;
}

.deleteBtn {
  background: #ef4444;
}

.card {
  max-width: 800px;
  margin: 25px auto;
  background: white;
  border-radius: 22px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0,0,0,.08);
  position: relative;
}

.card:hover {
  transform: translateY(-4px);
}

.card h2 {
  color: #1d4ed8;
  font-size: 28px;
  margin-bottom: 10px;
}

.card p {
  color: #444;
  margin-bottom: 15px;
}

.noticeMeta {
  margin-bottom: 15px;
}

.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
}

.general {
  background: #bfdbfe;
}

.exam {
  background: #fde68a;
}

.event {
  background: #fbcfe8;
}

.priority {
  background: #fecaca;
}

.date {
  font-size: 13px;
  color: gray;
  margin-bottom: 15px;
}

.empty {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}